<div class="title-item"(mouseenter)="playVideo()" (mouseleave)="stopVideo()" >
  <video #trailer src="assets/videos/trailer_guardioes_da_galaxia_1080p.mp4" controls muted="muted"></video>
  <img src="assets/images/guardios-da-galaxia.jpg" alt="Título">
  <div class="items">
      <div class="left-side">
          <button type="button" class="btn-play"><i class="material-icons">play_arrow</i></button>
          <button type="button" class="btn-muted" (click)="toggleSound()">
            <i class="material-icons" *ngif= "!getMuted()">volume_off</i>
            <i class="material-icons" *ngif= "getMuted()">volume_up</i>
          </button>
          <h2>{{title.name}}</h2>
          <ul class="infos">
              <li class="relevance">{{title.relevance}}% relevante</li>
              <li class="age" [ngClass]="{'age-free': title.age === 0 , 'age-12': title.age === 12, 'age-18': title.age === 18}"></li>
              <li class="parts">{{title.parts}} partes</li>
          </ul>
          <ul class="categories">
              <li *ngfor="let category of title.categories">{{ category}}</li>
          </ul>
      </div>
  </div>
</div>
